.projects{
    min-height:100vh;
    background:linear-gradient(180deg,#050816,#0b1120);
    padding:100px 8%;
    color:white;
}

.projects-title{
    text-align:center;
    font-size:3rem;
    color:#60a5fa;
    margin-bottom:60px;
    text-shadow:0 0 15px rgba(59,130,246,.5);
}

.projects-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:35px;
}

.project-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(59,130,246,.25);
    backdrop-filter:blur(18px);
    border-radius:20px;
    padding:30px;
    transition:.4s;
}

.project-card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(59,130,246,.6);
}

.project-card h2{
    color:#60a5fa;
    margin-bottom:20px;
}

.project-card p{
    color:#cbd5e1;
    line-height:1.7;
    margin-bottom:25px;
}

.tech-stack{
    display:flex;
    flex-wrap:wrap;
    gap:10px;
    margin-bottom:25px;
}

.tech-stack span{
    background:#111827;
    border:1px solid #3b82f6;
    padding:8px 14px;
    border-radius:25px;
    color:#60a5fa;
    font-size:14px;
}

.project-buttons{
    display:flex;
    gap:15px;
}

.project-buttons a{
    flex:1;
    text-align:center;
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:12px;
    border-radius:10px;
    transition:.3s;
}

.project-buttons a:hover{
    background:#3b82f6;
    box-shadow:0 0 20px rgba(59,130,246,.8);
}

@media(max-width:768px){

.projects{
    padding:80px 5%;
}

.projects-title{
    font-size:2.4rem;
}

.project-buttons{
    flex-direction:column;
}

}